.contact {
    background-color: var(--cinza);
    padding: 1em;
}

.contact__title,
.contact__text {
  background: var(--branco);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contact__title {
    font-size: 18px;
    font-weight: 500;
}

.contact__text {
    font-weight: 300;
    margin: 1em 0;
}

.contact__email {
    padding: 1em;
    border: 1px solid var(--vermelho);
    border-radius: 24px;
    width: 90%;
    color: var(--vermelho);
    background-color: var(--cinza);
}

.contact__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--branco);
    background: url("../img/Extra2.svg") no-repeat;
    padding-left: 2em;
  }