.header__menu {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__img {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__button:checked ~ .lista-menu {
    display: block;
}

.lista-menu__title,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cinza);
}

.lista-menu__title {
    color: var(--branco);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--vermelho-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__button {
    display: none;
}